

/*Hola Profe! mi viewport desktop es de 1920px*/

body {
    font-family: 'Be Vietnam pro', sans-serif;
    background-color: #FFFFFF;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 13px;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 3%;

}

.fa-bars {
    display: none;
}

.barra {
    display: flex;
    width: 30vw;
    list-style-type: none;
    justify-content: space-between;
    color: rgba(36, 46, 82, 1);
    font-weight: bolder;
    font-size: 13px;

}

.boton-naranja {
    background-color: #F3603B;
    color: #FFFFFF;
    border: none;
    border-radius: 50px;
    width: 134px;
    height: 44px;
    box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.25);

}

.arriba {
    display: flex;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;

}

.arriba-izquierda {
    width: 50%;

}

.arriba-izquierda h1 {
    text-align: left;
    font-size: 58px;
    font-weight: 700;
    color: rgba(35, 44, 80, 1);
    width: 70%;
}

.arriba-izquierda p {
    text-align: left;
    font-size: 16.56px;
    color: rgba(0, 0, 0, 1);
    font-weight: 500;
    width: 45%;
    padding-bottom: 4%;

}

.abajo {
    display: flex;
    gap: 300px;
    margin-top: 130px;
    margin-bottom: 132px;
    justify-content: space-between;

}

.abajo-izquierda {
    padding: 5%;

}


.abajo-izquierda h2 {

    font-size: 36px;
    text-align: left;
    font-weight: 700;
    color: rgba(35, 40, 81, 1);

}

.abajo-izquierda p {

    font-size: 16px;
    text-align: left;
    font-weight: 500;
    color: #000000;
    width: 60%;

}

.abajo-derecha {

    display: flex;
    font-size: 16px;
    text-align: left;
    flex-direction: column;

}

.Numeros {
    background-color: rgba(243, 96, 59, 1);
    color: rgba(255, 255, 255, 1);
    border-radius: 30px;
    padding: 10px 25px 10px 25px;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
}

.i01 {
    display: flex;
    justify-items: center;
    align-items: center;
    gap: 2%;
}

.i02 {
    display: flex;
    justify-items: center;
    align-items: center;
    gap: 2%;
}

.i03 {
    display: flex;
    justify-items: center;
    align-items: center;
    gap: 2%;
}

.abajo-derecha p {

    color: #B3B2B7;
    width: 70%;
    padding-left: 10.5%;

}

.abajo-derecha h4 {

    color: rgba(50, 56, 81, 1);
    font-weight: 700;

}

.Personas {

    display: flex;
    flex-direction: column;
    padding-bottom: 160px;
    align-items: center;
    justify-content: center;
    margin-left: 5%;
    margin-right: 5%;
}

.Personas h3 {
    font-size: 39.21px;
    font-weight: bolder;
    color: #242E53;

}

.cuadros-personas {
    display: flex;
    justify-content: space-around;
    position: relative;
    background-color: #FAFAFA;
    margin-top: 4%;
}

.cuadros-personas article {

    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

}

.cuadros-personas img {
    position: absolute;
    width: 70px;
    top: -35px;
}


.cuadros-personas p {
    color: #B9B9C1;
    font-size: 16px;
    text-align: center;
    font-weight: bolder;
    padding-left: 3%;
    padding-right: 3%;

}

.cuadros-personas h6 {
    color: #3F4868;
    font-size: 16px;
    text-align: center;
    padding-top: 21px;
}

.circulos {
    display: none;
}

.boton-naranja1 {
    background-color: #F3603B;
    color: #FFFFFF;
    border: none;
    border-radius: 50px;
    width: 134px;
    height: 44px;
    align-self: center;
    margin-top: 2%;
    box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.25);
}

.naranja {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #F3613C;
    color: #FFFFFF;
    padding: 3% 5%;
}

.texto-naranja {
    font-size: 40px;
    font-weight: 700;
    width: 33%;
}

.boton-blanco {
    border: none;
    border-radius: 50px;
    color: #F3603B;
    background-color: #FFFFFF;
    font-size: 13.18px;
    width: 134px;
    height: 44px;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.25);

}

footer {
    padding-top: 3%;
    background-color: #1E1E26;
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    padding: 3% 5%;
}

.ultima-lista {
    display: flex;
    width: 33vw;
    justify-content: center;
    gap: 50%;
}

.footer-1 {
    display: flex;
    flex-direction: column;
    gap: 66px;

}

.footer-1 ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin-top: 5%;
    padding-left: 5%;

}

.footer-2 ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style-type: none;
    gap: 12px;
    margin-top: 5%;
    font-size: 16px;

}

.footer-3 ul {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style-type: none;
    margin-top: 5%;
    font-size: 16px;
    gap: 10px;
    position: relative;
}

.footer-4 {

    display: flex;
    gap: 10px;
    font-size: 16px;
    flex-direction: column;

}

.formulario {
    border: none;
    border-radius: 50px;
    font-weight: 600;
    font-size: 13.8px;
    height: 44px;
    width: 201px;
    color: rgba(160, 160, 160, 1);
    padding-left: 20px;
}

.Go {

    background-color: #F3603B;
    color: #FFFFFF;
    border-radius: 50px;
    border: none;
    width: 63px;
    height: 42px;
    margin-left: 10px;
}

.copy-right {
    display: flex;

}

.footer-4 p {
    align-self: flex-end;
    padding-top: 14%;
    font-size: 12.5px;
    color: #8C8C94;
    font-weight: 500;

}

.pie-mobile {
    display: none;
}

/* aca empiezo con los efectos visuales de desktop*/

.barra li:hover {
    cursor: pointer;
    color: rgb(171, 172, 175);
}

.boton-naranja:hover {
    background-color: #f5af9e;
    cursor: pointer;
}

.boton-naranja1:hover {
    background-color: #f5af9e;
    cursor: pointer;
}

.Go:hover {
    background-color: #f5af9e;
    cursor: pointer;
}

.boton-blanco:hover {
    color: #f5af9e;
    cursor: pointer;
}

.iconos i:hover {
    color: #F3603B;
    cursor: pointer;
}

footer li:hover {
    cursor: pointer;
    color: #F3603B;
}

/* Version Mobile */

@media (max-width: 375px) {

    body {
        padding: 0;
        margin: 0;
    }

    header {
        padding-top: 8%;
        padding-bottom: 10%;
    }

    .graficos img {
        width: 300px;
    }

    .barra-navegacion {
        display: none
    }

    .boton-naranja {
        display: none;
    }

    .fa-bars {
        display: block;

    }

    .arriba {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        margin: 0;
        padding: 0;
    }

    .arriba button {
        display: block;
        width: 290px;
    }

    .arriba-izquierda {
        width: 300px;
    }

    .arriba-izquierda button {
        width: 134px;
        margin-left: 79px;
    }

    .arriba-izquierda h1 {
        text-align: center;
        font-size: 36px;
        width: 100%;
        font-weight: bold;

    }

    .abajo-izquierda h2 {
        text-align: center;
    }

    .abajo-izquierda p {
        width: 100%;
        text-align: center;
    }

    .arriba-izquierda p {
        text-align: center;
        width: 100%;

    }

    .abajo {
        flex-direction: column;
        margin-top: 0;
        margin-bottom: 0;
        gap: 0;
    }

    .Personas {
        padding-bottom: 50px;
    }

    .Personas h3 {
        font-weight: bold;
    }

    .i01 {
        height: 2.3em;
        background-color: #f8ebe7;

    }

    .i02 {
        height: 2.3em;
        background-color: #f8ebe7;

    }

    .i03 {
        height: 2.3em;
        background-color: #f8ebe7;

    }

    .cuadros-personas {
        flex-direction: column;
    }

    .cuadros-personas .anisha {

        display: none;
    }

    .cuadros-personas .richard {
        display: none;
    }

    .cuadros-personas .ali h6 {
        padding-bottom: 0;
    }
    .cuadros-personas .ali p {
        padding-bottom: 15px;
    }

    .circulos {
        display: flex;

    }

    .naranja {
        flex-direction: column;
        margin: 0;
        text-align: start;
    }

    .texto-naranja {
        width: 100%;
        text-align: center;
    }

    .circulos {
        padding-top: 15px;
        padding-bottom: 12px;
        display: flex;
        justify-content: center;
        gap: 5px;    
        font-size: 10px;

    }

    .far {
        color: #F3603B;
    }
    .fa-solid {
        color: #F3603B;
    }
    
    footer {
        flex-direction: column-reverse;
        padding-top: 30px;
        justify-items: center;
    
    }

    .right-reserved {
        display: none;
    }

    .footer-1 {
    flex-direction: column-reverse;
    gap: 0;
    justify-content: space-around;
    
    }

    .footer-1 img {
        padding: 5% 15%;
    }

    .footer-2 {
        width: 50%;
    }
    .footer-3 {
        width: 50%;
        padding-right: 30px;
    }

    .footer-4 {
        width: 100%;
    }


    .iconos {
        font-size: 2rem;
        padding-right: 5%;
    }

    .ultima-lista {
        padding-top: 10%;
        display: flex;
        justify-content: space-around;
        gap: 20px;
        width: 100%;
    }

    .pie-mobile {
        display: block;
        font-size: 12.5px;
        color: #8C8C94;
        font-weight: 500;
        text-align: center;
    }

    form .formulario {
        margin-left: 40px;
        align-items: center;
        justify-content: center;
        padding-left: 15px;
    }

}